<div class="" style="margin-top: 20em;"></div>
<div class="py-5" style="background-color: #597CFF;">
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="bg-light rounded-5 p-4" style="max-width: 300px;">
                <img class="w-100" src="https://res.cloudinary.com/smartcvmatching/image/upload/v1715523460/website-images/Smart_CV_hjydcz.svg" alt="">
            </div>
        </div>
        <div class="col-6 d-flex align-items-end">
            <div class="">
                <h2 class="mb-1  text-light">2024 | Graduation Project</h2>
                <h2 class=" mb-0  text-light">&copy; Smart CV Matching - JUST University</h2>
            </div>
            
        </div>
    </div>
</div>
</div>