<style>
  .nav-link {
    color: #fff;
  }
  .nav-link:hover {
    color: rgb(229, 229, 229);
    
  }
  .nav-link.active {
    color: #fff !important;
    font-weight: bold !important;
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5 py-4" style=" background-color: #597CFF !important; color: #fff">
    <div class="container">
      <a class="navbar-brand" style="color: #fff !important;" href="#">Smart CV Matching</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between px-md-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-md-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          
          <% if(currentUser) { %>
            <div class="mx-4"></div>
            
            <li class="nav-item">
                <a class="nav-link" href="/profile">My Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/my-cv-list">My CV List</a>
              </li>

            
           
           
          <% } %>
          
          
          
        </ul>
       
            <div class=" d-flex">
              <% if(currentUser) { %>
                <li class="d-flex align-items-center">
                  <p class="lead mb-0" style="font-size: 1em;">Welcome, </p><h5 class="h6 mb-0">  <a class="mx-1" style="color: #fff; text-decoration: none;" href="/profile"> <%= currentUser.username %></a> </h5>
              </li>
              <li class="d-flex align-items-center mx-4">
                  <a class="nav-link" href="/logout">
                      
                      Logout
                      <svg style="margin-left: 5px;" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                          <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                      </svg>
                  </a>
              </li>
              <% } else { %>
                <li class="nav-item" style="list-style: none;">
                  <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item mx-3" style="list-style: none;">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              <% } %>
                
            </div>
            
            
        
      </div>
    </div>
  </nav>
  


  <style>
    .flash-messages-floating {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 3000;
  }
  .alert-success {
    background-color: #268024 !important;
    font-weight: 600 !important;
    color: #fff !important;
    min-width: 370px;
    border: none !important;

  }
  .alert-danger {
    background-color: #c94e4e !important;
    font-weight: 600 !important;
    color: #fff !important;
    min-width: 370px;
    border: none !important;

  }
  </style>


  <div class="container mt-3">
    <div id="flash-messages" class="flash-messages-floating">
     
        <% if (error && error.length > 0) { %>
          <div class="alert alert-danger" style="z-index: 120 !important;" role="alert">
            <p class="lead mb-1" style="color: #fff; font-weight: 200; font-size: 14px;">Error</p>
            <%= error %>
          </div>
        <% } %>
        
        <% if (success && success.length > 0) { %>
          <div class="alert alert-success" style="z-index: 120 !important;" role="alert">
            <p class="lead mb-1" style="color: #fff; font-weight: 200; font-size: 14px;">Success</p>
            <%= success %>
          </div>
        <% } %>
       
      </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var flashMessages = document.getElementById('flash-messages').children;

    for (var i = 0; i < flashMessages.length; i++) {
        var flashMessage = flashMessages[i];

        // Show the alert
        flashMessage.style.display = 'block';

        // Hide the alert after 5 seconds
        setTimeout(function() {
        flashMessage.style.display = 'none';
        }, 5000);
    }
    });
</script>
  