<%- include("../../partials/head.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<style>
  h1, h2, h3 {
    color: #597CFF;
  }
</style>


<main class="container">
  <div class="row align-items-center">
    <div class="col-7">
      <div class="bg-body-tertiary p-5 rounded">
        <h1>Welcome to Smart CV</h1>
        <p class="lead">
          <strong>Let's get started!</strong> Log in now and create your CV with us. Our platform is designed to guide you through each step, making it easier than ever to build a professional resume and find the perfect job.
        </p>
        <a class="btn btn-lg btn-primary px-5" href="/login" role="button">Login</a>
      </div>
    </div>
    <div class="col text-center">
      <img class="w-75" src="https://res.cloudinary.com/smartcvmatching/image/upload/v1715523460/website-images/Smart_CV_hjydcz.svg" alt="">
    </div>
  </div>
    
  </main>
<div class="container">
  <div class="row">
    <div class="col-12 my-5">
      <h1>Revolutionizing Your Job Search with AI</h1>
      <p class="lead">
        Welcome to <strong>Smart CV</strong>, your ultimate solution for creating standout resumes and discovering the best job opportunities tailored just for you. We harness the power of Artificial Intelligence (AI) to simplify and enhance your job search experience, ensuring you find the right career path with ease and efficiency.
      </p>
    </div>
    <div class="col-12 my-5">
      <h1>Why Choose Smart CV?</h1>
      <p class="lead">
        <strong>Smart CV</strong> is designed to transform the way you approach job searching. Our intelligent platform offers a range of features that set us apart:
      </p>
      <ul>
      
        <li class="lead">
          <strong>AI-Powered Resume Builder:</strong> Effortlessly create professional resumes that highlight your strengths and experiences.
        </li>
        <li class="lead">
          <strong>Personalized Job Matching:</strong> Receive job recommendations that match your skills, experiences, and career goals.
        </li>
        <li class="lead">
          <strong>Skill Gap Analysis:</strong> Understand the skills you need for your dream job and get guidance on how to develop them.
        </li>
        <li class="lead">
          <strong>Real-Time Job Updates:</strong> Stay up-to-date with the latest job openings and industry trends.
        </li>
        <li class="lead">
          <strong>User-Friendly Design:</strong> Enjoy an intuitive and seamless interface that makes job searching simple and effective.
        </li>
      </ul>
    </div>
    <div class="col-12 my-5">
     <h1> How It Works</h1>
     <ol>
      <li class="lead">
        <strong>Create Your Profile:</strong> Sign up and provide details about your skills, experiences, and career aspirations.
      </li>
      <li class="lead">
        <strong>Build Your Resume:</strong> Use our AI-powered tool to generate a professional resume tailored to your profile.
      </li>
      <li class="lead">
        <strong>Get Job Matches:</strong> Browse personalized job recommendations that fit your qualifications and interests.
      </li>
      <li class="lead">
        <strong>Apply with Confidence:</strong> Submit your applications knowing your resume is optimized for success.
      </li>
      <li class="lead">
        <strong>Continuous Improvement:</strong> Receive feedback and updates to keep your profile and resume current and competitive.
      </li>
     </ol>





    </div>
    <div class="col-12 my-5">
      <div class="row align-items-center">
        <div class="col-6">
          <h1>Our Vision</h1>
          <p class="lead mt-4">
            At <strong>Smart CV</strong>, we envision a world where job seekers are empowered with the tools and insights they need to succeed in the job market. By leveraging AI technology, we aim to bridge the gap between talent and opportunity, creating a more efficient and inclusive job market for everyone.
          </p>
        </div>
        <div class="col-6 text-center">
          <img class="w-75" src="https://res.cloudinary.com/smartcvmatching/image/upload/v1716296719/website-images/1_fhh7az.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-12 my-5">
      <h1>Join Us Today</h1>
      <p class="lead mt-4">
        Ready to take the next step in your career? Join Smart CV today and discover how our innovative platform can help you achieve your professional goals. Whether you're a recent graduate or an experienced professional, <strong>Smart CV</strong> is here to support you on your journey to success.
      </p>

    </div>
  </div>
</div>



<%- include("../../partials/footer.ejs") %>
<%- include("../../partials/foot.ejs") %>